# build output
devlog/dist/

# generated types
devlog/.astro/

# dependencies
devlog/node_modules/

# logs
devlog/npm-debug.log*
devlog/yarn-debug.log*
devlog/yarn-error.log*
devlog/pnpm-debug.log*

# environment variables
devlog/.env
devlog/.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
devlog/.idea/

# pagefind
devlog/public/pagefind

.vscode/

.vercel/